body {
    font-family: Arial, sans-serif;
    background-color: #e9ebee;
    margin: 0;
    padding: 20px;
}

.perfil {
    background-color: rgb(255, 255, 255);
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #1877f2;
}

.descripcion {
    text-align: center;
    color: #555;
}

h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.publicacion {
    background-color: #f0f2f5;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}
img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

button{
    color: #1877f2;
    border: rgb(30, 43, 229) 1px solid;
    border-radius: 10px;

}
hr{
    border: none;
    border-top: 1px solid #dcdcdc;
    margin: 10px 0;
    width: 100%;
    height: 0%;

}